body {
    background: url("./street_fighter_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Permanent Marker', cursive;
}

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    height: 80vh;
    width: 100vh;
    outline: 2px double black;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

h1 {
    font-weight: 700;
    letter-spacing: 2px;
    transform: rotate(-9deg);
    font-size: 80px;
    color: #e98a1d;
    text-shadow: 2px 4px 5px black;
}

button {
    padding: 10px;
    font-size: 30px;
    letter-spacing: 5px;
    border-radius: 10px;
    color: white;
    background-color: #e98a1d;
    text-shadow: 2px 4px 5px black;
    line-height: 40px;
}

.stage {
    font-size: 200%;
}